@import "tailwindcss";

* {
  scroll-behavior: smooth;
  scroll-padding: 3.75rem;
  scroll-margin: 1rem;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  scroll-margin: 1rem;
}

*::-webkit-scrollbar-corner {
  background: var(--color-foreground-clr);
}

*::-webkit-scrollbar-track {
  background: var(--color-foreground-clr);
}

*::-webkit-scrollbar-thumb {
  background: var(--color-tertiary-clr);
  border-radius: 0.9375rem;
}

*::selection {
  color: var(--color-text-clr);
  background-color: var(--color-secondary-clr);
}

@theme {
  --color-background-clr: oklch(0.24 0.0229 280.84);
  --color-foreground-clr: oklch(0.29 0.0293 278.86);
  --color-text-clr: oklch(0.95 0.0086 188.11);
  --color-primary-clr: oklch(0.71 0.1874 15.11);
  --color-secondary-clr: oklch(0.78 0.1421 50.78);
  --color-tertiary-clr: oklch(0.82 0.0632 167.34);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --text-fs-body: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  --text-fs-subtitle: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
  --text-fs-title: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);

  --font-fira-code: var(--font-fira-code);
  --leading-base: 1.5;
}

body {
  @apply bg-background-clr text-text-clr font-fira-code text-fs-body font-semi-bold leading-base;
}

a {
  @apply text-secondary-clr inline-block underline hover:bg-primary-clr hover:text-text-clr transition-all px-0.5;
}

@layer utilities {
  .terminal-container * + * {
    margin-block-start: 0.25rem;
  }
}
